target/
out/
*.class
*.jar
*.war

mvnw
mvnw.cmd

.idea/
*.iml
.vscode/
*.DS_Store
*.log

application-dev.yml
application-local.yml
.env

build/
*.apk
*.aab
.gradle/
android-app/.idea/
android-app/local.properties
android-app/app/build/
*.jks
*.keystore

node_modules/
outputs/
