target/
*.class
*.jar
*.war
!mvnw.cmd
!mvnw

.idea/
*.iml
.vscode/
*.DS_Store

application-dev.yml
application-local.yml
.env

build/
*.apk
*.aab
.gradle/
android-app/.idea/
android-app/local.properties

node_modules/
outputs/
